 body{
  background-color: #e8d5e6;
} 
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #44103d ;
  color: #1df0ec;
  border: 1px dashed;
}